.bg-first {
    background: #348BC9;
}

nav {
    position: fixed !important;
    z-index: 1099 !important;
    width: 100vw;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f7c47886, #ffffff00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f7c47886, #ffffff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: background-color 555ms linear;
}

.scrolled {
    background: #348BC9;
    transition: background-color 555ms linear;
}

.active-nav {
    border-bottom: 2px solid red;
}

.nav-item:hover {
    background: #429ada; 
    border-radius: 3px;
}

.nav-item {
    padding-inline: 3px;
}

.rounded-bottom-lg {
    border-radius: 0px 0px 10pt 10pt;
}

.text-justify {
    text-align: justify;
}